{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app01/static/plugin/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app01/static/css/account.css' %}">
</head>
<body>
    <div class="account">
        <h1 style="text-align: center">注册</h1>
        <form>
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for="{{ filed.id_for_label }}">{{ field.label }}</label>
                        <div class="clearfix">
                            <div class="col-md-6" style="padding-left: 0;">{{ field }}</div>
                            <div class="col-md-6">
                                <input type="button" class="btn btn-default" value="点击获取验证码">
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ filed.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">注 册</button>
        </form>
    </div>
</body>
</html>